<%- include('../layout/_header', {
	pageTitle: 'About the Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="banner"  style="background: url(/layout/img/about_header.jpg) center/cover">
<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
			<h1>Volunteers</h1>
		</div>
	</div>
</div>
</div>

<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-xs-center">

				<p>Lake Afton Public Observatory thrives because of volunteers like you. Thank you for your help and support.</p>
				<p>The first thing you should do as a volunteer for LAPO is to read the volunteer handbook, which can be downloaded here:</p>
				<a href="https://drive.google.com/open?id=1zmiM5wsX6T1srPbO28MpJPH4aL2E8by8" target="_new"><button class="btn" style="border:0;color:#FFF;background:rgb(70, 30, 61);">Volunteer Handbook</button></a>
				<br /><br />
				<p>If you have any questions about:</p>
				<ul>
					<li>Scheduling: <a href="mailto:volunteers@lakeafton.com">volunteers@lakeafton.com</a></li>
					<li>Operations/Leadership: <a href="mailto:board@lakeafton.com">board@lakeafton.com</a></li>
					<li>Marketing: <a href="mailto:marketing@lakeafton.com">marketing@lakeafton.com</a></li>
					<li>Fundraising: <a href="mailto:fundraising@lakeafton.com">fundraising@lakeafton.com</a></li>
					<li>Private/Special Events: <a href="mailto:events@lakeafton.com">events@lakeafton.com</a></li>
					<li>Technology/IT: <a href="it@lakeafton.com">it@lakeafton.com</a></li>
				</ul>

				<br />
			</div>
		</div>
	</div>
</div>

<%- include('../layout/_footer'); %>
