<%- include('../layout/_header', {
	pageTitle: 'About the Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="banner"  style="background: url(/layout/img/about_header.jpg) center/cover">
<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
			<h1>How to Donate</h1>
		</div>
	</div>
</div>
</div>

<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-xs-center">

				<p>Lake Afton Public Observatory is a non-profit organization that survives on admissions and donations from people like you!<br />
					Here are some ways you can help keep our mission alive.</p>
				<br />

				<h5>Donate by using <a href="https://smile.amazon.com/about" target="_new">Amazon Smile!</a></h5>
				<br />
				<h5>Donate directly during our regular hours</h5>
				<br />
				<h5>Contact <a href="mailto:fundraising@lakeafton.com">fundraising@lakeafton.com</a></h5>
				<br />
				<h5>Sign up for our <a href="http://eepurl.com/cdN8hf" target="_new">donations mailing list</a></h5>

				<br />
			</div>
		</div>
	</div>
</div>

<%- include('../layout/_footer'); %>
