<%- include('../layout/_header', {
	pageTitle: 'Contributors and Supporters of the Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="banner" style="background: url(/layout/img/credits_header.jpg) center/cover">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
				<h1>Credits</h1>
				<p>Say hello to our contributors</p>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="row row-eq-height">
			<div class="col-md-6">
				<div class="card">
						<dl>
							<dt>Sponsors</dt>
							<dd><a href="https://www.callcap.com/" target="_new">Callcap</a></dd>
							<dd><a href="http://www.signlab.net" target="_new">Signlab</a></dd>
						</dl>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
						<dl>
							<dt>Special Thanks</dt>
							<dd>Michael Neth</dd>
							<dd>Phil Graves - Keller Williams Realty</dd>
							<dd>Matt Wiesemann</dd>
						</dl>
	       </div>
	     </div>
    </div>
  </div>
</div>

<%- include('../layout/_footer'); %>
