<%- include('../layout/_header', {
	pageTitle: 'About the Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="content" style="padding-top:15px;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<span style="text-align:center;">
					<h2>Current Timezone</h2>
					<center>
						<select id='timezone-selector'>
							<option value='America/Los_Angeles'>Pacific</option>
							<option value='America/Denver'>Mountain</option>
							<option value='America/Chicago' selected>Central</option>
							<option value='America/New_York'>Eastern</option>
						</select>
					</center>
				</span>

				<hr />

				<div id='loading' style="display:none;">loading...</div>
				<div id='calendar'></div>
			</div>
		</div>
	</div>
</div>

<script>

	$(document).ready(function() {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,listYear'
			},
			displayEventTime: false, // don't show the time column in list view
			googleCalendarApiKey: 'AIzaSyC0yC7gp8sdG8pDl0H2a18Ba2tFYYcJ4B4',
			//events: 'phf9m2398pr9pfoejnv06rnu24@group.calendar.google.com',
			events: 'lakeafton.com_qojc7kseu2jv9j7jji2gqgqud4@group.calendar.google.com',
			eventClick: function(event) {
				// opens events in a popup window
				window.open(event.url, 'gcalevent', 'width=700,height=600');
				return false;
			},
			loading: function(bool) {
				$('#loading').toggle(bool);
			}

		});

		// default to chicago time
		$('#calendar').fullCalendar('option', 'timezone', 'America/Chicago');



		// when the timezone selector changes, dynamically change the calendar option
		$('#timezone-selector').on('change', function() {
			$('#calendar').fullCalendar('option', 'timezone', this.value || false);
		});

	});

</script>

<%- include('../layout/_footer'); %>
