<%- include('../layout/_header', {
	pageTitle: 'News - Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="content">
	<div class="container">
		<div class="row">
		<div class="col-md-8 offset-md-2 text-xs-center">
			<h1>News</h1>
			<br /><br />
			<h3>Summer Viewing Update</h3>
			<p>Lake Afton Public Observatory invites everyone to come and view Jupiter, Saturn, and the Moon on Friday and Saturday evenings during the summer. No reservations are required.</p>
			<p>We will also be viewing the brighter objects found in the Summer Milky Way, such as the <a href="https://www.nasa.gov/content/ghost-of-jupiter-nebula" target="_new">Ghost of Jupiter</a> and other bright nebulae and clusters.</p>
			<h3>Jupiter</h3>
			<p>The largest planet in our solar system and orbited by four large moons and numerous smaller ones. Lake Afton Public Observatory will begin viewing Jupiter during the month of April. Jupiter will continue to be visible well into the summer months.</p>
			<h3>Juno</h3>
			<p>A space probe managed by the Jet Propulsion Laboratory. Currently in a polar (North to South) orbit around Jupiter and sending back <a href="https://www.nasa.gov/press-release/a-whole-new-jupiter-first-science-results-from-nasa-s-juno-mission" target="_new">absolutely stunning photos</a>, Juno was built to study the atmosphere, magnetic field and interior of Jupiter. Information about the Juno mission is located in our Exhibit Room or at <a href="https://www.nasa.gov/mission_pages/juno/main/index.html" target="_new">Nasa.gov</a>.</p>
			<h3>Saturn</h3>
			<p>Saturn will be rising during our business hours in late June, and is providing beautiful views of its rings and large moons.</p>
			<h3>Cassini</h3>
			<p>Cassini is currently in the final orbits of its life, diving well inside of Saturn's rings and sending back stunning images. Ask our volunteers for updates or follow NASA's <a href="https://saturn.jpl.nasa.gov/" target="_new">updates here</a>.</p>
			<br /><br />
		</div>
	</div>
</div>
<%- include('../layout/_footer'); %>
