<%- include('../layout/_header', {
	pageTitle: 'News - Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="content">
	<div class="container">
		<div class="row">
		<div class="col-md-8 offset-md-2 text-md-left text-xs-center">
			<h1>Astro Fest 2018</h1>
			<h3>Sizing Up Our Solar System</h3>
			<br />
			<p>We want to extend a huge thanks for all those that attended Astro Fest! We hope you had as good of a time as we all did. See you next year!</p>
			<br />
			<p>Be sure to follow us on <a href="https://twitter.com/lakeafton" target="_new">Twitter</a>, <a href="https://www.facebook.com/lakeafton" target="_new">Facebook</a> and <a href="https://www.instagram.com/lakeafton" target="_new">Instagram</a> to keep up to date with our activities.</p>
			<br />
			<br />
		</div>
	</div>
</div>
<%- include('../layout/_footer'); %>
