<%- include('../layout/_header', {
	pageTitle: 'News - Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="content">
	<div class="container">
		<div class="row">
		<div class="col-md-8 offset-md-2 text-md-left text-xs-center">
			<h1>Astro Fest 2018</h1>
			<h3>Sizing Up Our Solar System</h3>
			<br />
			<p>Join us for our first annual Astro Fest 2018, brought to you by the Lake Afton Public Observatory and the Kansas Astronomical Observers.</p>
			<p>During the day we will (safely) look at the Sun, the Moon and Venus (and maybe Mercury) through our 16" telescope. During the evening and night, we will look at Jupiter, Saturn, and Mars.</p>
			<p>In addition to our interactive, educational exhibits we will also have telescope workshops, space games (mostly outside), astronomy presentations, a photo booth, hands on activities, astrophotography sessions and prizes.</p>
			<p>Bring a lawn chair!</p>
			<p>Food trucks will be available.</p>
			<p>Time: <b>1:00 PM to 11:59 PM</b></p>
			<p>Admission:</p>
			<ul>
				<li>$8 for adults</li>
				<li>$7 Seniors (65+)</li>
				<li>$4 Children (5-12)</li>
				<li>Free for kids under 5</li>
			</ul>
			<p>If you have any questions, you can contact us on <a href="https://www.twitter.com/lakeafton">Twitter</a>, <a href="https://www.facebook.com/lakeafton">Facebook</a>, or by calling <a href="tel:316-559-2899">(316) 559-2899</a>
			<br /><br />
			<img src="/layout/img/lapo-at-night.jpg" style="max-width:100%;"/>
			<br /><br />
		</div>
	</div>
</div>
<%- include('../layout/_footer'); %>
