<%- include('../layout/_header', {
	pageTitle: 'News - Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="content">
	<div class="container">
		<div class="row">
		<div class="col-md-8 offset-md-2 text-md-left text-xs-center">
			<h1>News</h1>
			<br /><br />
			<h3>One Year Later</h3>
			<p>On September 2nd 2016, we re-opened to the public after more than a year of planning and preparation. We were blown away when we had over 600 visitors in the course of the weekend.</p>
			<p>Since then, we've been blown away by the support and encouragement we've received from the Wichita area community, and the visitors we've had from around the globe.</p>
			<p>One year later, and we've had nearly 3300 visitors and received over $14,000 in donations, and we're just getting started. In the last 12 months we've accomplished an astonishing amount, far above what we even expected.</p>
			<ol>
				<li>Thanks to some generous donors, we've upgraded the software and hardware that drive the main telescope, bringing it into the 21st century.</li>
				<li>We've nearly doubled our active volunteers, but we're <i>always</i> looking for more.</li>
				<li>We re-launched our hugely popular photography program, and begun to offer photo workshops as well as photography nights.</li>
				<li>We've started improving our exhibits, bringing in VR experiences, new computer programs, and improved our exhibits with more up-to-date and timely information.</li>
				<li>We've hosted nearly a dozen private events, including birthday parties and class trips.</li>
			</ol>
			<p>We've absolutely loved every night we've been open and we want to thank everyone who's come out to visit for supporting us. Because we're a volunteer-run non-profit, we stay open <i>for you</i> and <i>because of you</i> and we owe you all our deepest gratitude.</p>
			<h3>Autumn Viewing Update</h3>
			<p>Every season's sky is different and brings new and exciting viewing opportunities. This autumn we'll be losing Jupiter, but Saturn will still be a major target for us and the Milky Way galaxy will be naked-eye visible from outside the city.</p>
			<p>We'll also be spending time on <a href="https://en.wikipedia.org/wiki/Messier_13" target="_new">M13</a>, the <a href="https://en.wikipedia.org/wiki/Lagoon_Nebula" target="_new">Lagoon Nebula</a>, and (on clear nights) the <a href="https://en.wikipedia.org/wiki/Andromeda_Galaxy" target="_new">Andromeda Galaxy</a> as they're all getting to be more visible this time of year.</p>
			<p>See you soon!</p>
			<p></p>
			<br /><br />
		</div>
	</div>
</div>
<%- include('../layout/_footer'); %>
