<%- include('../layout/_header', {
	pageTitle: 'News - Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="content">
	<div class="container">
		<div class="row">
		<div class="col-md-8 offset-md-2 text-xs-center">
			<h1>News</h1>
			<br /><br />
			<h3>April Viewing Update</h3>
			<p>Lake Afton Public Observatory invites everyone to come and view the planet Jupiter on Friday and Saturday evenings during the month of April from 8:30pm to 10:30pm. No reservations are required.</p>
			<p>On April 7th, the Earth will pass directly between our Sun and the giant planet Jupiter. This places Jupiter in the opposite part of the sky from the Sun (opposition), causing Jupiter to “rise” as the Sun “sets”. The distance between Earth and Jupiter is smallest at this time. (4.45 AU or 414 million miles) Such conditions make Jupiter appear brighter and larger than at other times during the year. The spacecraft Juno is currently studying the planet Jupiter. The public is welcome to ask questions about both Jupiter and Juno.</p>
			<h3>Jupiter</h3>
			<p>The largest planet in our solar system and orbited by four large moons and numerous smaller ones. Lake Afton Public Observatory will view Jupiter during the month of April.</p>
			<h3>Juno</h3>
			<p>A space probe managed by the Jet Propulsion Laboratory. Currently in a polar (North to South) orbit around Jupiter; built to study the atmosphere, magnetic field and interior of Jupiter. Information about the Juno mission is located in the exhibit room of Lake Afton Public Observatory.</p>
			<br /><br />
		</div>
	</div>
</div>
<%- include('../layout/_footer'); %>
