<%- include('../layout/_header', {
	pageTitle: 'News - Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="content">
	<div class="container">
		<div class="row">
		<div class="col-md-8 offset-md-2 text-md-left text-xs-center">
			<h1>News</h1>
			<br />
			<h3>Extended hours</h3>
			<p>We'll be open Friday, Saturday <i>and</i> Sunday (Sep. 1,2,3) from 9:00pm to 11:30pm on Labor Day weekend, so come stop by and get a look at Mars, Jupiter, and more!</p>
			<br />
			<h3>International Observe-The-Moon Night</h3>
			<p>Every year, the world gets together for one night to observe and learn about the moon. This year, on <b>October 20th</b>, Lake Afton Public Observatory is hosting an event to do just that. We'll be open during our normal hours but focusing our observing and education on the Moon. See you there!</p>
			<p>For more info on InOMN, check their <a href="https://twitter.com/nasamoon" target="_new">Twitter</a> and <a href="https://www.facebook.com/observethemoon" target="_new">Facebook</a> pages.</p>
			<p><b>Note:</b> our hours change the second week of September. We'll be open from 8:30pm to 10:30pm until November, when our hours will change again to 7:30pm to 9:30pm for the winter.</p>
			<br />
			<p>Be sure to follow us on <a href="https://twitter.com/lakeafton" target="_new">Twitter</a>, <a href="https://www.facebook.com/lakeafton" target="_new">Facebook</a> and <a href="https://www.instagram.com/lakeafton" target="_new">Instagram</a> to keep up to date with our activities.</p>
			<br />
			<br />
		</div>
	</div>
</div>
<%- include('../layout/_footer'); %>
