<%- include('../layout/_header', {
	pageTitle: 'News - Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="content">
	<div class="container">
		<div class="row">
		<div class="col-md-8 offset-md-2 text-md-left text-xs-center">
			<h1>News</h1>
			<br />
			<p>This July is the 50th anniversary of the Apollo moon landing and we're ready to celebrate it with all you space enthusiasts out there!</p>
			<h3>Special Presentations</h3>
			<p>So how are we doing this? Well for starters, we're having special events each night we're open that will help teach you about the Moon, the Apollo program, and much more!</p>
			<p>Here is a schedule for what we'll be talking about:</p>
			<ul>
				<li><b>July 5th - Moon Mythbusters</b> - Debunk common Myths and piece together some new facts!</li>
				<li><b>July 6th - Mirror Moon</b> - Learn about the source of the Moon's light and make your own Moon globe!</li>
				<li><b>July 12th - Moon Phases</b> - Learn why we see the Moon go through Phases</li>
				<li><b>July 13th - Apollo Mission Overviews</b> - Find out something new about each of the Apollo missions.</li>
				<li><b>July 19th - Did We Really Go to the Moon?</b> - Find out how we know we really did land on the Moon 50 years ago.</li>
				<li><b>July 20th - Observing the Moon</b> - Learn tips and tricks for observing the Moon using a telescope, binoculars, or just your eyes!</li>
				<li><b>July 26th - What Lies Ahead: Beyond Apollo</b> - After looking back and celebrating Apollo's successes, find out what is planned for the future of human spaceflight.</li>
				<li><b>July 27th - Penny Moon & Earth's Bright Neighbor</b> - Discover why we only see one side of the Moon and compare the sizes of the Earth and Moon to their distances.</li>
			</ul>
			<hr />
			<h3>Moon Photography Contest</h3>
			<p>We're also hosting a Moon Photo Contest! Submissions go to <a href="mailto:photography@lakeafton.com">photography@lakeafton.com</a> and must be submitted by midnight on August 3rd. Finalists will have their photos displayed on August 10th during Astro-Fest to be voted on! More information is available <a href="https://drive.google.com/open?id=15WGRtDCddbdas9UXW5wnfFRzK2ulP9BG" target="_new">in our flyer</a>.</p>
			<p>Be sure to read the <a href="https://drive.google.com/open?id=1VA84-YzFfKYA53Xf5KvroI2yNhp_onk3" target="_new">contest rules</a> as well.</p>
			<p>Also, if you need some tips on how to take great Moon photos, <a href="https://www.astronewton.com/blog/shoot-for-the-moon" target="_new">check out this article</a> by one of our Volunteers and resident astro-photography expert Brent Newton.</p>
			<p>Be sure to follow us on <a href="https://twitter.com/lakeafton" target="_new">Twitter</a>, <a href="https://www.facebook.com/lakeafton" target="_new">Facebook</a> and <a href="https://www.instagram.com/lakeafton" target="_new">Instagram</a> to keep up to date with our activities.</p>
			<br />
			<br />
		</div>
	</div>
</div>
<%- include('../layout/_footer'); %>
