<%- include('../layout/_header', {
	pageTitle: 'About the Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="banner"  style="background: url(/layout/img/about_header.jpg) center/cover">
<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
			<h1>About The Observatory</h1>
		</div>
	</div>
</div>
</div>

<div class="content">
	<div class="container">
		<div class="row">
		<div class="col-md-8 offset-md-2 text-xs-center">
				<h3 class="h1">Hours and Pricing</h3>
				<span class="dots"><i></i><i></i><i></i></span>
				<p>Sunset changes dramatically throghout the year in Kansas, so hours change with the seasons.</p>
				<ul>
					<li>October - March: 7:30pm - 10:00pm</li>
					<li>March - October: 8:00pm - 10:00pm</li>
				</ul>
				<br /><br />
				<p>With far more exhibits than just a 16" telescope, we stay open on cloudy nights and still teach you about the cosmos.</p>
				<ul>
					<li>$8 Adults (14+)</li>
					<li>$4 Children (5-13)</li>
					<li>$0 Children (0-4)</li>
					<li>$20 Family</li>
				</ul>
				<ul style="list-style-type:none;">

				</ul>
				<p><i>Note: If you attend on a cloudy night, you will recieve a 50%-off coupon for your next visit.</i></p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
		<div class="col-md-8 offset-md-2 text-xs-center">
				<span class="dots"><i></i><i></i><i></i></span>
				<h3 class="h1">Where we come from</h3>
				<p>Lake Afton Public Observatory opened in 1981 as a joint project between Wichita State University, Wichita Public Schools, Sedgwick County and the City of Wichita. The university primarily managed the observatory until 2015, when it withdrew its support because of dwindling attendance and high operational costs. The observatory went dark after 34 years of acquainting hundreds of thousands of visitors with the stars and planets.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-xs-center">
				<span class="dots"><i></i><i></i><i></i></span>
				<h3 class="h1">Where we're going</h3>
				<p>Thanks to members of the <a href="http://kaowichita.com">Kansas Astronomical Observers</a> and <a href="https://openwichita.com">Open Wichita</a>, the observatory was saved from permanent closure and reopened on Sept. 2, 2016. It will continue to operate as a nonprofit supported by volunteers. In addition to letting visitors experience celestial bodies through the 16-inch Ritchey-Chrétien telescope, Lake Afton Public Observatory will feature exciting new exhibits and special events.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-xs-center">
				<span class="dots"><i></i><i></i><i></i></span>
				<div class="card">
					<dl>
						<dt class="h3">Sponsors</dt>
						<dd><a href="https://www.callcap.com/" target="_new">Callcap</a></dd>
						<dd><a href="http://www.signlab.net" target="_new">Signlab</a></dd>
					</dl>
				</div>
				<div class="card" style="margin-top:25px;">
					<dl>
						<dt class="h3">Special Thanks</dt>
						<dd>Michael Neth</dd>
						<dd>Jon Kline</dd>
						<dd>Phil Graves - Keller Williams Realty</dd>
						<dd>Matt Wiesemann</dd>
					</dl>
	       </div>
	     </div>
    </div>
  </div>
</div>

<%- include('../layout/_footer'); %>
