<%- include('../layout/_header', {
	pageTitle: 'About the Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="banner"  style="background: url(/layout/img/about_header.jpg) center/cover">
<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
			<h1>About The Observatory</h1>
		</div>
	</div>
</div>
</div>

<div class="content">
	<div class="container">
		<div class="row">
		<div class="col-md-8 offset-md-2 text-xs-center">
				<h3 class="h1">Hours and Pricing</h3>
				<span class="dots"><i></i><i></i><i></i></span>
				<p>Sunset changes dramatically throghout the year in Kansas, so hours change with the seasons.</p>
				<ul>
					<li>October-February: 7:30pm - 10:00pm</li>
					<li>March: 8:00pm - 10:00pm</li>
					<li>April: 8:30pm - 10:30pm</li>
					<b><li>May-August: 9:00pm - 11:00pm</li></b>
					<li>September: 8:00pm - 10:00pm</li>
				</ul>
				<p>With far more exhibits than just a 16" telescope, there's plenty to keep you busy, even on cloudy nights.</p>
				<ul>
					<li>$8 Adults (14+)</li>
					<li>$4 Youth (5-13)</li>
					<li>$0 Children (0-4)</li>
					<li>$7 Seniors (65+)</li>
					<li>$20 Family</li>
				</ul>
				<p>Since the sky changes with the seasons, we also offer a yearly membership so you can see all the night sky has to offer.</p>
				<ul style="list-style-type:none;">
					<li>$24 Adults</li>
					<li>$12 Youth</li>
					<li>$21 Senior</li>
					<li>$60 Family</li>
				</ul>
				<p><i>Note: If you attend on a cloudy night, you will recieve a 50%-off coupon for your next visit.</i></p>
				<p>Public hours are every Friday and Saturday, as listed (no reservation is required)</p>
				<p>Groups are encouraged to schedule visits on weekday evenings at least 3 weeks in advance. Daytime appointments for viewing the Sun, Venus (occasionally the Moon) are possible also.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
		<div class="col-md-8 offset-md-2 text-xs-center">
				<span class="dots"><i></i><i></i><i></i></span>
				<h3 class="h1">Where we come from</h3>
				<p>Lake Afton Public Observatory opened in 1981 as a joint project between Wichita State University, Wichita Public Schools, Sedgwick County and the City of Wichita. The university primarily managed the observatory until 2015. The observatory then went dark after 34 years of acquainting hundreds of thousands of visitors with the stars and planets.</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-xs-center">
				<span class="dots"><i></i><i></i><i></i></span>
				<h3 class="h1">Where we're going</h3>
				<p>Thanks to members of the <a href="http://kaowichita.com">Kansas Astronomical Observers</a> and <a href="https://openwichita.com">Open Wichita</a>, the observatory was saved from permanent closure and reopened on Sept. 2, 2016. It will continue to operate as a nonprofit supported by volunteers. In addition to letting visitors experience celestial bodies through the 16-inch Ritchey-Chrétien telescope, Lake Afton Public Observatory will feature exciting new exhibits and special events.</p>
				<p>Our goal now is to modernize the observatory while providing a unique learning experience for visitors from around the US. We've started incorporating new technology including Virtual Reality and Augmented Reality games and experiences, which can keep guests learning and entertained even on cloudy nights.</p>
			</div>
		</div>
	</div>
</div>

<%- include('../layout/_footer'); %>
