<%- include('layout/_header', {
	pageTitle: 'Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="banner"  style="background: url(/layout/img/header-background.jpg) center/cover">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
				<h1>Get closer <span class="nobr">to the stars.</span></h1>
				<p>Come look at the night sky through our lens. Experience a wondrous view. A unique experience awaits you at Lake Afton Observatory.</p>
				<a href="/news/" class="btn">News: One Year Update</a>
			</div>
		</div>
	</div>
</div>

<div class="viewing">
	<span class="light-gray">Open:</span> <span class="nobr">Friday and Saturday at 7:30pm</span>
	<br />
	<span class="nobr">$8 - Adults / $4 - Youth / $20 - Family</span>
	<br />
	<span class="light-gray"><a href="/about/">More Information</a></span>
</div>

<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-xs-center">
				<h2 class="light-gray">Who Are We</h2>
				<span class="dots"><i></i><i></i><i></i></span>
				<h3 class="h1">Lake Afton <span class="nobr">Public</span> Observatory</h3>
				<p>We are a group of people who are passionate about astronomy. Through our telescope, exhibits, and events, we aim to foster education and wonder about our solar system and beyond.</p>
			</div>
		</div>
	</div>
</div>


<div class="quick-links">
	<div class="link">
		<div class="overlay"></div>
		<h2 class="h1">About</h2>
		<a href="/about/" class="btn">Learn More</a>
	</div>
	<div class="link">
		<div class="overlay"></div>
		<h2 class="h1">Who We Are</h2>
		<a href="/who-we-are/" class="btn">Learn More</a>
	</div>
</div>


<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-xs-center">
				<h2 class="light-gray">Stay Connected</h2>
				<span class="dots"><i></i><i></i><i></i></span>
				<h2 class="h1">Keep your eyes <span class="nobr">on the sky</span></h2>
				<p>Here’s what we’ve been up to lately. Come see for yourself or follow us on Instagram.</p>


			</div>

			<!--div class="col-md-12">
				<div id="instafeed"></div>

				<script type="text/javascript">
					var feed = new Instafeed({
						clientId: '6fa0543a0ac647f8aeb20c53d16a86bb'
					});
					feed.run();
				</script>
			</div-->
		</div>
		<div class="row instagram-embeds">
			<div class="col-md-4">
				<blockquote class="instagram-media" data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BI-T8bHjBBJ/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A photo posted by Lake Afton Public Observatory (@lakeafton)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-08-11T15:34:35+00:00">Aug 11, 2016 at 8:34am PDT</time></p></div></blockquote>
			</div>
			<div class="col-md-4">
				<blockquote class="instagram-media" data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BJzFJWqDXk2/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A photo posted by Lake Afton Public Observatory (@lakeafton)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-09-01T03:25:02+00:00">Aug 31, 2016 at 8:25pm PDT</time></p></div></blockquote>
			</div>
			<div class="col-md-4">
				<blockquote class="instagram-media" data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BJk3J8XjctM/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A photo posted by Lake Afton Public Observatory (@lakeafton)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-08-26T14:53:24+00:00">Aug 26, 2016 at 7:53am PDT</time></p></div></blockquote>
			</div>
		</div>
	</div>
</div>

<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>


<%- include('layout/_footer'); %>
