<%- include('../layout/_header', {
	pageTitle: 'Who We Are - Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="banner"  style="background: url(/layout/img/wwa_header.jpg) center/cover">
	<div class="container">
		<div class="row">
		<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
				<h1>A passion <span class="nobr">for astronomy.</span></h1>
				<p>Through our telescope, exhibits and events, we aim to foster education and wonder about our solar system and beyond.</p>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-xs-center">
				<h5>Lake Afton Public Observatory is a 501(c)(3) non-profit with the mission of providing astronomy education to the public.
					<br /><br />
					We rely solely on admissions and donations to continue providing this unique educational opportunity.
					<br /><br />
					If you would like to donate or discuss sponsorship, please contact us at <a href="mailto:fundraising@lakeafton.com">fundraising@lakeafton.com</a>.
				</h5>
				<br /><br /><br />
			</div>
		</div>
		<div class="row row-eq-height">
			<div class="col-md-6">
				<div class="card">
					<a href="http://kaowichita.com"><img src="/layout/img/kao.jpg" alt=""></a>
					<h3>Kansas Astronomical Observers</h3>

					<p>The front-facing side of the effort has members of the Kansas Astronomical Observers meeting with the County Commissioners and Wichita State University. This group often uses the Observatory for meetings and shares their telescopes and their knowledge with Observatory visitors.</p>

					<p>Learn more at <a href="http://kaowichita.com">kaowichita.com</a></p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<a href="http://openwichita.com"><img src="/layout/img/open_wichita.jpg" alt=""></a>
					<h3>Open Wichita</h3>
					<p>On the digital side, we're members of Open Wichita. Open Wichita is an initiative to bring the benefits of open data and civic hacking to Wichita. We believe our volunteers can bring a level of innovation, creativity, and technological know-how that the Observatory needs.</p>

					<p>Learn more at <a href="http://openwichita.com">openwichita.com</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 offset-md-2 text-xs-center">
			<span class="dots"><i></i><i></i><i></i></span>
			<div class="card">
				<dl>
					<dt class="h3" style="padding-bottom:15px;">Sponsors</dt>
					<dd><a href="https://www.callcap.com/" target="_new">Callcap</a></dd>
					<dd><a href="http://www.signlab.net" target="_new">Signlab</a></dd>
					<dd><a href="http://www.terracon.com/about/terracon-foundation/" target="_new">Terracon Foundation</a></dd>
				</dl>
			</div>
			<div class="card" style="margin-top:25px;">
				<dl>
					<dt class="h3" style="padding-bottom:15px;">Special Thanks</dt>
					<dd><b><a href="https://andrewstephens.myportfolio.com/" target="_new">Andrew Stephens</a></b><br />Logos, branding and design</dd>
					<dd><b><a href="http://www.kw.com/kw/agent/phillip-graves" target="_new">Phil Graves</a></b><br />Keller Williams Realty</b></dd>
					<dd><b><a href="https://www.facebook.com/ScreamPrinting/" target="_new">Matthew Wiseman</a></b><br />Scream Printing</dd>
					<dd><b>Matt Wiesemann</b></dd>
					<dd><b>Michael Neth</b></dd>
					<dd><b>Jon Kline</b></dd>
				</dl>
			</div>
		</div>
	</div>
</div>


<%- include('../layout/_footer'); %>
