<%- include('../layout/_header', {
	pageTitle: 'Educational Resources - Lake Afton Public Observatory',
	pageDescription: ''
}); %>

<div class="banner"  style="background: url(/layout/img/about_header.jpg) center/cover">
<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
			<h1>Resources & Educational Tools</h1>
		</div>
	</div>
</div>
</div>

<div class="content">
	<div class="container">
		<div class="row row-eq-height">
			<div class="col-md-6">
				<div class="card">
				<h3>Software</h3>
					<p><a href="https://starrynight.com/starry-night-7-professional-astronomy-telescope-control-software.html" target="_new">Starry Night</a> - Professional astronomy telescope Control and planetarium software for Mac or PC</p>
					<p><a href="http://www.stellarium.org/" target="_new">Stellarium</a> - Stellarium is a free open source planetarium for Windows, Mac, and Linux</p>
					<p><a href="https://eyes.nasa.gov/" target="_new">Eyes On</a> - Experience Earth and our solar system, the universe and the spacecraft exploring them, with immersive apps for Mac, PC and mobile devices.</p>
					<p><a href="http://spaceengine.org/" target="_new">SpaceEngine</a> - SpaceEngine is a realistic virtual Universe you can explore on your computer.</p>
					<p>Titans of Space
						&nbsp;<a href="https://play.google.com/store/apps/details?id=com.drashvr.titansofspacecb&hl=en" target="_new"><i class="fa fa-android" aria-hidden="true"></i></a>
						&nbsp;<a href="http://store.steampowered.com/app/468820/Titans_of_Space_20/" target="_new"><i class="fa fa-steam-square" aria-hidden="true"></i></a>
						- Titans of Space is a short guided tour of our planets and a few stars in virtual reality.
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<h3>Links</h3>
					<p><a href="https://drive.google.com/drive/folders/0B-syiVhoSYP-LTlsUFpzSkpZLTA?usp=sharing" target="_new">Public Folder</a> - LAPO maintains a public folder for educational documents we find useful and want to share</p>
				</div>
			</div>
		</div>
	</div>
</div>


<%- include('../layout/_footer'); %>
